<div>
  <h2 id="page-heading" data-cy="TestsHeading">
    <span jhiTranslate="reportApplicationApp.reportApplicationTests.home.title">Tests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reportApplicationApp.reportApplicationTests.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tests"
        [routerLink]="['/reportapplication/tests/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reportApplicationApp.reportApplicationTests.home.createLabel">Create a new Tests</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tests?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="reportApplicationApp.reportApplicationTests.home.notFound">No Tests found</span>
    </div>
  }

  @if (tests && tests.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subject">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationTests.subject">Subject</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="materialId.id">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationTests.materialId">Material Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tests of tests; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reportapplication/tests', tests.id, 'view']">{{ tests.id }}</a>
              </td>
              <td>{{ tests.subject }}</td>
              <td>
                @if (tests.materialId) {
                  <div>
                    <a [routerLink]="['/reportapplication/material', tests.materialId.id, 'view']">{{ tests.materialId.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/reportapplication/tests', tests.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/reportapplication/tests', tests.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tests)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
