<div>
  <h2 id="page-heading" data-cy="QuestionHeading">
    <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.home.title">Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question"
        [routerLink]="['/reportapplication/question/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.home.createLabel">Create a new Question</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (questions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.home.notFound">No Questions found</span>
    </div>
  }

  @if (questions && questions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="question">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.question">Question</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="answers">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.answers">Answers</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="points">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.points">Points</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="testId.id">
              <div class="d-flex">
                <span jhiTranslate="reportApplicationApp.reportApplicationQuestion.testId">Test Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (question of questions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reportapplication/question', question.id, 'view']">{{ question.id }}</a>
              </td>
              <td>{{ question.question }}</td>
              <td>{{ question.answers }}</td>
              <td>{{ question.points }}</td>
              <td>
                @if (question.testId) {
                  <div>
                    <a [routerLink]="['/reportapplication/tests', question.testId.id, 'view']">{{ question.testId.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/reportapplication/question', question.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/reportapplication/question', question.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(question)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
