<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (testsStudents) {
      <div>
        <h2 data-cy="testsStudentsDetailsHeading">
          <span jhiTranslate="reportApplicationApp.reportApplicationTestsStudents.detail.title">Tests Students</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ testsStudents.id }}</span>
          </dd>
          <dt><span jhiTranslate="reportApplicationApp.reportApplicationTestsStudents.result">Result</span></dt>
          <dd>
            <span>{{ testsStudents.result }}</span>
          </dd>
          <dt><span jhiTranslate="reportApplicationApp.reportApplicationTestsStudents.studentId">Student Id</span></dt>
          <dd>
            @if (testsStudents.studentId) {
              <div>
                <a [routerLink]="['/student', testsStudents.studentId.id, 'view']">{{ testsStudents.studentId.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="reportApplicationApp.reportApplicationTestsStudents.testId">Test Id</span></dt>
          <dd>
            @if (testsStudents.testId) {
              <div>
                <a [routerLink]="['/tests', testsStudents.testId.id, 'view']">{{ testsStudents.testId.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/reportapplication/tests-students', testsStudents.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
